body{
    color: black;
    background: white;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
#view{
    height: 500px;
    width: 800px;
    background: #eee;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    margin-right: 30px;
}
#editor-ui{
    position: absolute;
    left: 810px;
    width: 350px;
    top: 0;
}
.table{
    border-radius: 5px;
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    background: red;
    display: block;
    border: 3px solid #111;
    width: 100px;
    height: 100px;
    float: left;
}
.table:hover, #room .table:hover{
    background: #999;
}
.table p{
    padding: 0;
    margin: 0;
}
#manager .table{
    position:absolute;
}
#manager-ui{
    position: absolute;
    left: 805px;
    width: 350px;
    top: 0;
    background: red;
    background: #eee;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}
#orders-ui{
    position: absolute;
    left: 1160px;
    width: 350px;
    top: 0;
    background: #eee;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}