<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        ">

    <context:annotation-config />


    <bean id="mainController" init-method="init" class="ctrl.MainController" lazy-init="false"/>


    <bean id="databaseEditor" class="editor.DatabaseImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="databaseManager" class="backend.DatabaseImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="products" class="backend.DatabaseImpl" factory-bean="databaseManager"
          factory-method="getAllProducts"></bean>

    <bean id="menu" class="backend.MenuImpl">
        <constructor-arg name="products" ref="products"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://sql2.freemysqlhosting.net:3306/sql284981"/>
        <property name="username" value="sql284981"/>
        <property name="password" value="sY3*fI6!"/>
    </bean>

</beans>